{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> What is the Best Cloud? Probably GCP </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'Google Cloud Platform for AWS Professionals',
            <br>"Google Cloud Platform: The smart person's guide - TechRepublic",
            <br>'Spark comparison: AWS vs. GCP',
            <br>"8 must-see sessions for application developers at Google Cloud Next '17",
            <br>'The five phases of migrating to Google Cloud Platform'
        </i>
    </div>
</div>

{% endblock %}