{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> Bitcoin Future: When GBPcoin of Branson Wins Over USDcoin of Trump </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'Optimizing Elasticsearch Searches',
            <br>'An Introduction to Elasticsearch Aggregations',
            <br>'Terms Aggregation in Elastic Search',
            <br>'Aggregations',
            <br>'29 Common Google Analytics Data Errors And How To Fix Them',
            <br>'Google Tag Manager: Giving Mobile Tagging a Little Extra Love'
        </i>
    </div>
</div>

{% endblock %}