{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> What Happens When You Combine Artificial Intelligence and Satellite Imagerys </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'SpaceNet satellite imagery repository launched by DigitalGlobe, CosmiQ Works and NVIDIA on AWS',
            <br>'This startup uses machine learning and satellite imagery to predict crop yields',
            <br>'How big is the Google Earth database? - Google Earth Blog',
            <br>'The Competitive Landscape for Machine Intelligence',
            <br>'Lessons from Becoming a Data-Driven Organization'
        </i>
    </div>
</div>

{% endblock %}