{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> Banks Need To Collaborate With Bitcoin and Fintech Developers </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'Is FinTech Forcing Banking to a Tipping Point?',
            <br>'The Future of Digital Banking is Now',
            <br>'Digital Tool as Strategic Enabler for Banking Transformation',
            <br>'Infographic Dutch Fintech Scene - HollandFintech.com',
            <br>"Blockchain CEO's Business Advice on Bitcoin Startups"
        </i>
    </div>
</div>

{% endblock %}