{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> Better together: New Microsoft integrations for easier collaboration </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'Building a Facebook Chat Bot with Node and Heroku',
            <br>'How to Start a Telegram Bot With PHP',
            <br>'TechCrunch launches a personalized news recommendations bot on Facebook Messenger',
            <br>'Introducing Mini Courses with MS Chatbots',
            <br>'How bot-to-bot could soon replace APIs'
        </i>
    </div>
</div>

{% endblock %}