{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> PostgreSQL Bloat: origins, monitoring and managing </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'Drupal 8 CI/CD with Docker via Jenkins. Part 1: Integration',
            <br>'Firebase Test Lab for Android',
            <br>'So, You Want A Table, Huh?',
            <br>'Automate deployments and traffic splitting with the App Engine Admin API',
            <br>"Beyond Progressive Web Apps Part 2: We Need to Know What's New"
        </i>
    </div>
</div>

{% endblock %}