{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> Your Docker Agenda for April </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'A Docker Fork: Talk of a Split Is Now on the Table - The New Stack',
            <br>'Docker Swarm',
            <br>'Containers - Clean up your House',
            <br>"Docker Engine 1.11 with runC: Announcing the general availability of the industry's first OCI-compliant runtime",
            <br>'Use Docker to build, test and push your Artifacts'
        </i>
    </div>
</div>

{% endblock %}