{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> Better together: New Microsoft integrations for easier collaboration </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            "It's Official: 68 Million Dropbox Account Details Leaked Online",
            <br>'Dropbox open-sources Lepton, a compression algorithm that cuts JPEG file size by 22%',
            <br>'Microsoft is taking its cues from Facebook as it totally shakes up Office',
            <br>'Microsoft wants to connect all your favorite apps with Flow',
            <br>'Google Drive grows more powerful, feature by feature - TechRepublic'
        </i>
    </div>
</div>

{% endblock %}