{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing">
    <div class="row">
        <b>Your Article Was: </b>
    </div>
    <div>
        <ins> IEEE to Talk Blockchain at Cloud Computing Oxford-Con - CoinDesk </ins>
    </div>

    <div class="row">
        <b>Recommended articles are: </b>
    </div>
    <div>
        <i>
            'Red Hat OpenShift Blockchain Initiative Focuses On Ethereum',
            <br>'The Blockchain is the new Google',
            <br>'From fine wine to lotteries: Blockchain tech takes off - BBC News',
            <br>'Stratumn is building a sort of Heroku for blockchain applications - The Bitcoin Channel',
            <br>'Walt Disney Now Loves Blockchain, Going Trustless in Seattle'
        </i>
    </div>
</div>

{% endblock %}